a {
    text-decoration: none;
    color:#444;
}
#settings {
    line-height:20px;
}
#dropbox {
    margin-top:60px;
    font-size:20px;
    text-align:center;
    font-family:Tahoma;
    line-height:100px;
    min-width:300px;
    min-height:100px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border:3px dashed silver;
    font-weight:bold;
}

#header {
    height: 112px;
    background: url(/static/logo.png) no-repeat;
}

#header p {
    font-size: 60px;
    line-height: 112px;
    margin-left: 120px;
    display: inline; 
}

#header span {
    margin-left: 10px;
    font-size: 15px;
    color: #555;
}

#description,#footer {
    text-align: center;
}

#description {
    padding-top:150px;
}

#page {
    width: 1000px;
    margin: 0 auto;
}

body {
    font-family: "helvetica neue",arial,sans-serif;
    background-color:#f4f2e6;
}

#footer span,#description span {
    font-size: 13px;
}

#footer img {
    vertical-align: middle;
    align: left; 
    border: none;
}

#description p {
    font-size: 15px;
    color: #555;
}

#description p,span {
    color: #555;
}

#description p {
    font-size: 15px;
}

#previewbox {
    margin: 20px 10px;
}

.loadbox {
    float: left;
    width: 225px;
    margin: 8px;
    border: 2px dashed silver;
}

.notice {
    height: 85px;
    width: 125px;
    float: left;
    padding-top:15px;
}

.loadbox img {
    width: 100px;
    height: 100px;
    float: right;
}

.notice p { 
    margin: 15px;
}

.notice embed { 
    margin-left:30px;
}

#settings_link {
    float:right;
    font-size:20px;
    margin-top: 15px;
}
